<div class='caja'>
	
	<article>
		<br>
		<center><img src="images/oscar.png"></center><br>
		<iframe width="854" height="480" src="https://www.youtube.com/embed/nbXgHAzUWB0" frameborder="0" allowfullscreen></iframe>

	</article>
	<br>
	<footer><strong><u>Autor:</u></strong> Oscar García Verdejo<br>
	 <strong><u>Contacto:</u></strong><a href="mailto:oscar.gverdejo@alumnos.upm.es"> oscar.gverdejo@alumnos.upm.es</a>
	<br><br><br>
	 <p id='fecha'><i>Última actualización:</i></p> 
	 <script type="text/javascript">document.write(new Date());</script>
	</footer>
</div>
</body>