<table>
	<% for (var i in quizzes) { %>
		<tr>
			<td>
				<a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].question %></a>
			</td>
		</tr>
	<% } %>
</table>

<a href="/quizzes/new"><button type="button">Crear pregunta</button></a>

<p>
	<form method="get" action="/quizzes">
		<label for="busq">Buscar:</label>
		<input type="text" id="busq" name="search" placeholder="Texto a buscar" />
		<input type="submit" value="Enviar" />
	</form>
</p>